## ITERATION 1 -- psycopg2

In [18]:
import psycopg2

In [54]:
#
postgres_pw = "allaguana!!"

In [56]:
# Connexion à la base de données
conn = psycopg2.connect(
dbname="lieu",
user="postgres",
password=postgres_pw,
host="localhost",
port="5432"
)

In [57]:

# Création d'un curseur
cursor = conn.cursor()
# Exécution d'une requête SQL
cursor.execute("SELECT * FROM utilisateur ;")
rows = cursor.fetchall()
# Affichage des résultats
for row in rows:
    print(row)
# Fermeture de la connexion
cursor.close()

(1, 'Arthur', 'le_graal@gmail.com', '12345', 'user', False)
(2, 'Lancelot', 'lancelot@gmail.com', '12344', 'user', False)
(3, 'Merlin', 'LaMagie@gmail.com', '1234', 'cartograph', False)
(4, 'Guenievre', 'guenievre@gmail.com', '12345', 'user', False)
(5, 'Dame du Lac', 'ddl@gmail.com', '1234', 'cartograph', False)
(6, 'Alice', 'alice@example.com', 'password123', 'admin', True)
(7, 'Bob', 'bob@example.com', 'secure456', 'user', True)
(8, 'Charlie', 'charlie@example.com', 'pass789', 'user', False)

1. Dans un nouveau notebook Jupyter, connectez-vous à la base de données numcity en
utilisant psycopg2.
2. Créez une fonction Python permettant d’exécuter une requête SQL et de retourner les
résultats dans un format lisible.
3. Écrivez des requêtes pour interroger chacune des tables disponibles dans votre base
de données.
4. Testez vos requêtes et vérifiez les résultats pour vous assurer qu’ils sont corrects.
5. Documentez votre notebook avec des descriptions des tables et des objectifs de
chaque requête.

In [58]:
#Generate connector_bdd
def connection():
    return(psycopg2.connect(dbname="lieu",user="postgres",password=postgres_pw,host="localhost",port="5432"))
def querry_sql(querry:str):
    conn=connection()
    # Création d'un curseur
    cursor = conn.cursor()
    # Exécution d'une requête SQL
    cursor.execute(querry)
    rows = cursor.fetchall()
    # Fermeture de la connexion
    cursor.close()
    conn.close()
    return(rows)

In [59]:
querry_sql("SELECT * FROM pointgps ;")

[(1, 5.725, 45.183, None, 1),
 (2, 5.725, 45.183, 1, 1),
 (3, 5.728, 45.183, 1, 1),
 (4, 5.7295, 45.1835, 1, 1),
 (5, 5.729, 45.1858, 1, 1),
 (6, 5.7264, 45.1858, 1, 1),
 (7, 5.7245, 45.185, 1, 1),
 (8, 5.7245, 45.1835, 1, 1),
 (9, 5.7368, 45.1829, None, 2),
 (10, 5.7384, 45.1845, 9, 2),
 (11, 5.7388, 45.1862, 9, 2),
 (12, 5.7379, 45.1874, 9, 2),
 (13, 5.7364, 45.188, 9, 2),
 (14, 5.7348, 45.1881, 9, 2),
 (15, 5.7333, 45.1873, 9, 2),
 (16, 5.7327, 45.1861, 9, 2),
 (17, 5.7329, 45.1849, 9, 2),
 (18, 5.7343, 45.1837, 9, 2),
 (19, 5.7358, 45.1832, 9, 2),
 (20, 5.7368, 45.1829, 9, 2),
 (21, 45.1883, 5.724, None, None),
 (22, 45.1893, 5.7348, None, None),
 (23, 45.22, 5.3942, None, None),
 (24, 45.1845, 5.735, None, None)]

## ITÉRATION 2 -- pandas

In [60]:
import pandas as pd
import psycopg2
# Connexion à la base de données
conn = psycopg2.connect(
dbname="lieu",
user="postgres",
password=postgres_pw,
host="localhost",
port="5432"
)
# Charger des données dans un DataFrame
query = "SELECT * FROM poi;"
df = pd.read_sql_query(query, conn)
# Afficher un aperçu des données
print(df.head())
# Fermer la connexion
conn.close()

   id_poi            type_poi  is_valid  id_point     description  id_creator  \
0       1  Parking Trotinette     False        21  Parking Trot 1           6
1       2  Parking Trotinette     False        22  Parking Trot 2           6
2       3        Parking Vélo     False        21  Parking VELO 1           7
3       4        Parking Vélo     False        22  Parking VELO 2           7

  id_validator
0         None
1         None
2         None
3         None

/tmp/ipykernel_42755/2525771783.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [61]:
def df_from_sql(querry_sql:str):
    conn = connection()
    df = (pd.read_sql_query(querry_sql, conn))
    conn.close()
    return(df)

In [63]:
df_from_sql("SELECT * FROM polygon")

/tmp/ipykernel_42755/805175623.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = (pd.read_sql_query(querry_sql, conn))

   id_polygon poly_name   poly_description  id_creator
0           1   Q_Hoche     Quartier Hoche           5
1           2     Q_PPM  Parc Paul Mistral           3